body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #95acf1;
  font-family: Arial;
  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  width: 300px;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px 0;
  padding: 8px;
}

button {
  padding: 8px;
  background: #4e73df;
  color: white;
  border: none;
  cursor: pointer;
}

span {
  color: blue;
  cursor: pointer;
}

.hidden {
  display: none;
}

#wholecontain {
  display: none; /* hidden before login */
  margin-top: 30px;
}

#contain {
  width: 400px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list {
  display: flex;
  gap: 10px;
}

#inputText {
  flex: 1;
  padding: 8px;
}

#addTask {
  padding: 8px 12px;
  cursor: pointer;
}

#taskContainer {
  margin-top: 20px;
  max-height: 250px;
  overflow-y: auto;
  width: 100%;
}

.newdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Each Task Box */
.newtask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 8px;
  margin-bottom: 10px;
}

.newtask button {
  background: rgb(66, 60, 60);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
}

.newtask input {
  width: 50px;
  height: 30px;
}

.newtask span {
  font-size: 30px;
  color: black;
}

.completed span {
  text-decoration: line-through;
  color: green;
}

@media (max-width: 600px) {
  #contain {
    width: 300px;
  }
}
